/* img {
  max-width: 100%;
  max-height: 100%;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.card {
  width: 300px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.card-content {
  padding: 1rem;
  background: grey;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card-text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.card-bottom {
  display: flex;
  justify-content: space-around;
} */
