.input {
  @apply w-full bg-white rounded border border-gray-300 focus:border-green-600 focus:ring-2 focus:ring-green-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
}

.label {
  @apply text-sm text-gray-500;
}
